
.database{
    padding: 10px;
    background-color: #ffc107  ;
    cursor:pointer;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 20px;  
}
.table{
    padding: 10px;
    background-color: #0d6efd  ;
    cursor:pointer;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    margin-left: 20px;  

}
.records{
    padding: 10px;
    background-color: #0dcaf0  ;
    cursor:pointer;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 20px;  

}
.btn{
    display: flex;
    justify-content: center;
}
.forms{
    height: 200px;
    width: 400px;
    padding: 40px;
    padding-top: 10px;
    margin-top: 100px;
    margin-left: 330px;
    border: 1px solid rgb(187, 174, 174);   
    border-radius: 10px;
    background: #d0c9ff;
    box-shadow: 1px 9px 42px 7px rgba(55,111,255,0.59);
    -webkit-box-shadow: 1px 9px 42px 7px rgba(55,111,255,0.59);
    -moz-box-shadow: 1px 9px 42px 7px rgba(55,111,255,0.59);
}
h3{
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}
.dbname {
    outline: none;
    height: 30px;
    width: 300px;
    justify-content: center;
    text-align: center;
    margin-left: 59px;
    margin-top: 20px;
    margin-inline-end: auto;
    border-radius: 10px;
    border: 1px solid;
    font-size: 15px;
}
.submitbtndata{
    margin-top: 30px;
    padding: 10px;
    background-color: #ffc107  ;
    cursor:pointer;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    width: 130px;
    margin-left: 140px;

}
select{
    width: 100%;
    color: black;

}
option{
    color: black;
}